<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        {% block script %}{% endblock %}

        <title>Random Letter Typing Test: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/">Random Letter Typing Test™</a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/leaderboard">Leaderboard</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/leaderboard">Leaderboard</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        <main class="container p-5 largecontainer">
            {% if not session.user_id: %}
                <div class="alert alert-primary adjustsize" role="alert">
                    <a href="/login">Log in</a> to save your scores!
                </div>
            {% endif %}
            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <th colspan="3">75 Letters</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>#</b></td>
                                <td><b>Username</b></td>
                                <td><b>Time</b></td>
                            </tr>
                            {% for record in records_short: %}
                                    <tr>
                                        <td>{{ record['rank'] }}</td>
                                        <td>{{ record['username'] }}</td>
                                        <td>{% if record['time']: %} {{ record['time'] }} s {% endif %}</td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <th colspan="3">150 Letters</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>#</b></td>
                                <td><b>Username</b></td>
                                <td><b>Time</b></td>
                            </tr>
                            {% for record in records_long: %}
                                    <tr>
                                        <td>{{ record['rank'] }}</td>
                                        <td>{{ record['username'] }}</td>
                                        <td>{% if record['time']: %} {{ record['time'] }} s {% endif %}</td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </body>
</html>